In [2]:
# ! pip install ipython-sql

In [3]:
import sqlalchemy
sqlalchemy.create_engine('mysql://jack:123@192.168.157.130/BZBH')

Engine(mysql://jack:***@192.168.157.130/BZBH)

In [5]:
%load_ext sql

In [6]:
%sql mysql://jack:123@192.168.157.130/BZBH

In [8]:
%%sql
SELECT cust_name, cust_contact, cust_email
FROM Customers
WHERE cust_name = 'Fun4All'

 * mysql://jack:***@192.168.157.130/BZBH
2 rows affected.

[('Fun4All', 'Jim Jones', 'jjones@fun4all.com'),
 ('Fun4All', 'Denise L. Stephens', 'dstephens@fun4all.com')]

In [10]:
%%sql

show index from Customers

 * mysql://jack:***@192.168.157.130/BZBH
1 rows affected.

[('Customers', 0, 'PRIMARY', 1, 'cust_id', 'A', 5, None, None, '', 'BTREE', '', '', 'YES', None)]

In [13]:
%%sql
set profiling=1

 * mysql://jack:***@192.168.157.130/BZBH
0 rows affected.

[]

In [14]:
from pymysql import connect
import tqdm
def main():
    # 创建Connection 连接
    conn = connect(host='192.168.157.130',port=3306,database='BZBH',user
    ='jack',password='123',charset='utf8')
    # 获得Cursor 对象
    cursor = conn.cursor()
    # 插入10 万次数据
    for i in tqdm(range(100000)):
        cursor.execute("insert into test_index values('ha-%d')" % i)
    # 提交数据
    conn.commit()

if __name__ == "__main__":
    main()